$light-blue: rgb(0, 101, 255);
$dark-blue: #0052cc;
$black: rgb(9, 30, 66);

@mixin flexCenter() {
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-style: normal;
	color: $black;
}

img {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: $black;
}

// ===============
// Header
// ===============

header {
	height: 4rem;
	width: 100vw;
	@include flexCenter();
	justify-content: space-between;
	padding-left: 1rem;

	.img-container {
		height: 2rem;
	}

	.left {
		@include flexCenter();
		gap: 2rem;
	}

	nav {
		@include flexCenter();
		gap: 1.5rem;
		text-transform: capitalize;
		font-weight: 500;

		a:hover {
			color: $light-blue;
		}

		.plans {
			cursor: pointer;

			i {
				margin-left: 0.25rem;
			}

			&:hover {
				color: $light-blue;
				i {
					color: $light-blue;
				}
			}
		}
	}

	.sign-in {
		@include flexCenter();
	}

	.login,
	.sign-up {
		display: block;
		padding: 0 1.5rem;
		height: 4rem;
		@include flexCenter();
	}

	.sign-up {
		background-color: $light-blue;
		color: #fff;
	}
}

// ===============
// Homepage
// ===============

.homepage {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	padding-left: 4rem;
	gap: 4rem;

	h1 {
		font-size: 45px;
	}

	p {
		font-size: 20px;
	}
}

// ===============
//
// ===============
