* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #44546f;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

input,
textarea {
  outline: none;
  border: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  overflow-x: hidden;
  background-color: #fff;
}
.grey-hover:hover {
  background-color: rgba(9, 30, 66, 0.0588235294);
}

header.page {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  padding: 0 1rem;
  border-bottom: 1px solid #dee4ea;
  font-size: 14px;
}
header.page nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header.page nav article {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -2rem;
  border: 1px solid #dee4ea;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #c3c3c3;
  padding: 1.5rem 0;
  z-index: 990;
  background-color: #fff;
}
header.page nav article > * {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
header.page nav.left {
  gap: 0.5rem;
}
header.page nav.left .nav-item {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}
header.page nav.left .drop-down {
  padding: 0 0.75rem;
  position: relative;
}
header.page nav.left .drop-down i {
  margin-left: 0.5rem;
  color: #172b4d;
}
header.page nav.left .focus {
  color: #0055cc;
}
header.page nav.left .focus i {
  color: #0055cc;
}
header.page nav.left .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../assets/logo-png.png);
  filter: brightness(0) saturate(100%) invert(30%) sepia(53%) saturate(323%) hue-rotate(179deg) brightness(91%) contrast(88%);
}
header.page nav.left .logo:hover {
  background-image: url(../assets/logo-gif.gif);
}
header.page nav.left .plus {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  background-color: #0055cc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
header.page nav.left .plus i {
  color: #fff;
  font-size: 13px;
}
header.page nav.left .plus.hover {
  background-color: #09326c;
}
header.page nav.right {
  gap: 0.5rem;
}
header.page nav.right i {
  cursor: pointer;
  border-radius: 50%;
}
header.page nav.right .fa-bell {
  background-color: #0055cc;
  height: 2rem;
  width: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  font-size: 16px;
}
header.page nav.right .fa-bell:hover {
  background-color: #09326c;
}
header.page nav.right .fa-bell .nav-info {
  transform: rotate(-45deg);
  bottom: -1rem;
  left: 0rem;
}
header.page nav.right .end-icons {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
}
header.page nav.right .account {
  position: absolute;
  left: unset;
  bottom: unset;
  transform: none;
  right: 2rem;
  top: 3.5rem;
  font-weight: 400;
}
header.page nav.right .account h1 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #0055cc;
}
header.page nav.right .account h2 {
  font-size: 16px;
}
header.page nav.right .account p {
  font-size: 13px;
  margin-bottom: 0.5rem;
}
header.page nav.right .account form {
  padding: 0;
}
header.page nav.right .account form input {
  padding: 0 1.5rem;
}
header.page nav.right .account .account-link {
  display: block;
  width: 100%;
  height: 2rem;
  text-decoration: none;
  background: transparent;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}
header.page nav.right .account .account-link:hover {
  background-color: rgba(9, 30, 66, 0.0588235294);
}
header.page nav.right > * {
  position: relative;
}
header.page nav.right > *:hover .nav-info {
  display: block;
}
header.page nav.right .nav-info {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -1.75rem;
  color: #fff;
  background-color: #1d2125;
  opacity: 0.75;
  border-radius: 5px;
  padding: 0.25rem 0.45rem;
  font-size: 12.5px;
  display: none;
  font-weight: 400;
  z-index: 999;
}

.main-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 4rem;
  padding: 3rem 4rem;
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.sidebar .nav-link {
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 2.5rem;
}
.sidebar .nav-link.focus {
  color: #0055cc;
}
.sidebar .nav-link.focus i {
  color: #0055cc;
}
.sidebar .nav-link:hover {
  background-color: rgba(9, 30, 66, 0.0588235294);
}
.sidebar .nav-link i {
  padding-right: 0.5rem;
}
.sidebar .boards-link {
  font-weight: 700;
  font-size: 16px;
  padding-left: 0.5rem;
}
.sidebar .line {
  height: 1px;
  width: 100%;
  background-color: rgba(9, 30, 66, 0.0588235294);
}
.sidebar .add {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 12.5px;
  font-weight: 500;
}
.sidebar .add i {
  font-size: 15px;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.sidebar .add i:hover {
  background-color: rgba(9, 30, 66, 0.0588235294);
}
.sidebar .workspace {
  width: 100%;
}
.sidebar .workspace .title {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 5px;
}
.sidebar .workspace .title:hover {
  background-color: rgba(9, 30, 66, 0.0588235294);
}
.sidebar .workspace .links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
}

.boards h1 {
  font-size: 18px;
  text-transform: uppercase;
}

.all-boards {
  display: grid;
  grid-template-columns: repeat(3, 225px);
  gap: 2rem;
  margin-top: 1rem;
}
.all-boards a {
  display: block;
  width: 225px;
  height: 125px;
  border-radius: 5px;
  position: relative;
}
.all-boards a img {
  border-radius: 5px;
  filter: brightness(90%);
}
.all-boards a img:hover {
  filter: brightness(80%);
}
.all-boards a h1 {
  position: absolute;
  top: 0.5rem;
  left: 0.75rem;
  color: #fff;
  font-size: 18px;
}

header.workspace .top {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
header.workspace span {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
}
header.workspace h1 {
  font-weight: 500;
  font-size: 20px;
}
header.workspace i {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
}
header.workspace button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #0055cc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 0.75rem;
  height: 2rem;
}
header.workspace button i {
  color: #fff;
}
header.workspace button:hover {
  background-color: #09326c;
}
header.workspace p {
  font-size: 14px;
}

.header-line {
  height: 1.5px;
  width: 100%;
  background-color: #dee4ea;
  margin: 1.5rem 0;
}

.add-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  opacity: 0.8;
  z-index: 100;
  padding: 4rem;
}

.add-workspace {
  background-color: #fff;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: calc(100vh - 8rem);
  width: calc(100vw - 8rem);
  z-index: 200;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3.5rem 7rem;
  background-image: url(../assets/wavy-background.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 55%;
}
.add-workspace form {
  width: 350px;
}
.add-workspace form h1 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.add-workspace form h2 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 1rem;
}
.add-workspace form input[type=submit] {
  width: 100%;
  height: 2.5rem;
  margin-top: 1rem;
  cursor: pointer;
  background-color: #0055cc;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
}
.add-workspace form input[type=submit]:hover {
  background-color: #09326c;
}
.add-workspace ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}
.add-workspace ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.add-workspace ul li label {
  font-size: 12px;
  font-weight: 500;
}
.add-workspace ul li input,
.add-workspace ul li textarea {
  width: 100%;
  border: 2px solid rgba(9, 30, 66, 0.0588235294);
  border-radius: 3px;
  height: 2.5rem;
  font-size: 14px;
  padding: 0 0.5rem;
}
.add-workspace ul li input:focus,
.add-workspace ul li textarea:focus {
  border-color: #0055cc;
}
.add-workspace ul li textarea {
  padding: 0.5rem;
  height: auto;
}
.add-workspace .img-container {
  width: 400px;
}
.add-workspace .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-workspace .fa-xmark {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 22px;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=styles.css.map */