$text-light: #172b4d;
$text-disabled-light: #091e424f;
$lime-light: #4c6b1f;
$lime-bolder-light: #37471f;
$red-light: #ae2a19;
$red-bolder-light: #601e16;
$orange-light: #974f0c;
$orange-bolder-light: #5f3811;
$yellow-light: #7f5f01;
$yellow-bolder-light: #533f04;
$green-light: #216e4e;
$green-bolder-light: #164b35;
$teal-light: #206b74;
$teal-bolder-light: #1d474c;
$blue-light: #0055cc;
$blue-bolder-light: #09326c;
$purple-light: #5e4db2;
$purple-bolder-light: #352c63;
$magenta-light: #943d73;
$magenta-bolder-light: #50253f;
$grey-light: #44546f;
$grey-bolder-light: #091e42;
$subtle-light: #44546f;
$subtlest-light: #626f86;
$surface-light: #fff;
$neutral-light: #091e420f;

$text-dark: #b6c2cf;
$text-disabled-dark: #bfdbf847;
$lime-dark: #b3df72;
$lime-bolder-dark: #d3f1a7;
$red-dark: #ff9c8f;
$red-bolder-dark: #ffd2cc;
$orange-dark: #fec57b;
$orange-bolder-dark: #ffe2bd;
$yellow-dark: #f5cd47;
$yellow-bolder-dark: #f8e6a0;
$green-dark: #7ee2b8;
$green-bolder-dark: #baf3db;
$teal-dark: #8bdbe5;
$teal-bolder-dark: #c1f0f5;
$blue-dark: #85b8ff;
$blue-bolder-dark: #cce0ff;
$purple-dark: #b8acf6;
$purple-bolder-dark: #dfd8fd;
$magenta-dark: #f797d2;
$magenta-bolder-dark: #fdd0ec;
$grey-dark: #9fadbc;
$grey-bolder-dark: #dee4ea;
$subtle-dark: #8c9bab;
$subtlest-dark: #9fadbc;
$surface-dark: #1d2125;
$neutral-dark: #a1bdd914;

@mixin flexCenter() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin absoluteCenter() {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $subtle-light;
	font-family: "Roboto", sans-serif;
}

ul {
	list-style-type: none;
}

input,
textarea {
	outline: none;
	border: none;
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

body {
	overflow-x: hidden;
	background-color: $surface-light;

	&.dark {
		$surface-light: #000;
	}
}

// ===============
// Re-used
// ===============

.grey-hover:hover {
	background-color: $neutral-light;
}

// ===============
// Header
// ===============

header.page {
	@include flexCenter();
	justify-content: space-between;
	height: 3rem;
	width: 100%;
	padding: 0 1rem;
	border-bottom: 1px solid $grey-bolder-dark;
	font-size: 14px;

	nav {
		@include flexCenter();

		article {
			@include absoluteCenter();
			bottom: -2rem;
			border: 1px solid $grey-bolder-dark;
			border-radius: 5px;
			box-shadow: 0px 0px 2px #c3c3c3;
			padding: 1.5rem 0;
			z-index: 990;
			background-color: #fff;

			& > * {
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}
		}

		&.left {
			gap: 1rem;

			.nav-item {
				height: 2rem;
				@include flexCenter();
				padding: 0 0.5rem;
				cursor: pointer;
				border-radius: 5px;
			}

			.drop-down {
				padding: 0 0.75rem;
				position: relative;
				i {
					margin-left: 0.5rem;
					color: $text-light;
				}
			}

			article {
				left: 3rem;
				top: 3.5rem;
				transform: none;
				@include flexCenter();
				align-items: flex-start;
				justify-content: flex-start;
				flex-direction: column;
				font-size: 14px;
				height: 7rem;
				padding: 1rem 0;

				.option {
					width: 100%;
					height: 2.5rem;
					@include flexCenter();
					justify-content: flex-start;
					cursor: pointer;

					i {
						width: 1.5rem;
						@include flexCenter();
					}
				}
			}

			.logo {
				@include flexCenter();
				height: 1.5rem;
				width: 5rem;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				background-image: url(../assets/logo-png.png);
				filter: brightness(0) saturate(100%) invert(30%) sepia(53%)
					saturate(323%) hue-rotate(179deg) brightness(91%)
					contrast(88%);

				&:hover {
					background-image: url(../assets/logo-gif.gif);
				}
			}

			.plus {
				width: 2rem;
				height: 2rem;
				border-radius: 5px;
				background-color: $blue-light;
				@include flexCenter();
				cursor: pointer;
				position: relative;

				i {
					color: #fff;
					font-size: 13px;
				}

				&:hover {
					background-color: $blue-bolder-light;
				}
			}
		}

		&.right {
			gap: 0.5rem;

			i {
				cursor: pointer;
				border-radius: 50%;
			}

			.fa-bell {
				background-color: $blue-light;
				height: 2rem;
				width: 2rem;
				color: $surface-light;
				@include flexCenter();
				transform: rotate(45deg);
				font-size: 16px;

				&:hover {
					background-color: $blue-bolder-light;
				}

				.nav-info {
					transform: rotate(-45deg);
					bottom: -1rem;
					left: 0rem;
				}
			}

			.end-icons {
				font-size: 17px;
				@include flexCenter();
				height: 2rem;
				width: 2rem;
			}

			.account {
				position: absolute;
				left: unset;
				bottom: unset;
				transform: none;
				right: 2rem;
				top: 3.5rem;
				font-weight: 400;

				h1 {
					font-size: 13px;
					text-transform: uppercase;
					font-weight: 700;
					margin-bottom: 1rem;
					color: $blue-light;
				}

				h2 {
					// font-weight: 400;
					font-size: 16px;
				}

				p {
					font-size: 13px;
					margin-bottom: 0.5rem;
				}

				form {
					padding: 0;
					input {
						padding: 0 1.5rem;
					}
				}

				.account-link {
					display: block;
					width: 100%;
					height: 2rem;
					text-decoration: none;
					background: transparent;
					text-align: left;
					display: flex;
					align-items: center;
					font-size: 14px;
					cursor: pointer;

					&:hover {
						background-color: $neutral-light;
					}
				}
			}

			& > * {
				position: relative;

				&:hover .nav-info {
					display: block;
				}
			}

			.nav-info {
				@include absoluteCenter();
				bottom: -1.75rem;
				color: $surface-light;
				background-color: $surface-dark;
				opacity: 0.75;
				border-radius: 5px;
				padding: 0.25rem 0.45rem;
				font-size: 12.5px;
				display: none;
				font-weight: 400;
				z-index: 999;
			}
		}
	}
}

.main-container {
	display: grid;
	grid-template-columns: 300px 1fr;
	gap: 4rem;
	padding: 3rem 4rem;
}

// ===============
// Sidebar
// ===============

.sidebar {
	@include flexCenter();
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	gap: 1rem;

	.nav-link {
		width: 100%;
		height: 2rem;
		border-radius: 5px;
		cursor: pointer;
		font-size: 13px;
		text-decoration: none;
		display: flex;
		align-items: center;
		padding-left: 2.5rem;

		&.focus {
			color: $blue-light;

			i {
				color: $blue-light;
			}
		}

		&:hover {
			background-color: $neutral-light;
		}

		i {
			padding-right: 0.5rem;
		}
	}

	.boards-link {
		font-weight: 700;
		font-size: 16px;
		padding-left: 0.5rem;
	}

	.line {
		height: 1px;
		width: 100%;
		background-color: $neutral-light;
	}

	.add {
		@include flexCenter();
		justify-content: space-between;
		width: 100%;
		font-size: 12.5px;
		font-weight: 500;

		i {
			font-size: 15px;
			width: 1.5rem;
			height: 1.5rem;
			@include flexCenter();
			border-radius: 4px;
			cursor: pointer;

			&:hover {
				background-color: $neutral-light;
			}
		}
	}

	.workspace {
		width: 100%;
		.title {
			@include flexCenter();
			justify-content: space-between;
			padding: 0.5rem;
			height: 3rem;
			cursor: pointer;
			border-radius: 5px;

			&:hover {
				background-color: $neutral-light;
			}
		}

		.links {
			@include flexCenter();
			flex-direction: column;
			gap: 0.25rem;
		}
	}
}

// ===============
// Boards
// ===============

.boards {
	h1 {
		font-size: 18px;
		text-transform: uppercase;
	}
}

.all-boards {
	display: grid;
	grid-template-columns: repeat(3, 225px);
	gap: 2rem;
	// margin-top: 1rem;
	margin: 1rem 0;

	a {
		display: block;
		width: 225px;
		height: 125px;
		border-radius: 5px;
		position: relative;

		img {
			border-radius: 5px;
			filter: brightness(90%);
			&:hover {
				filter: brightness(80%);
			}
		}
		h1 {
			position: absolute;
			top: 0.5rem;
			left: 0.75rem;
			color: #fff;
			font-size: 18px;
		}
	}
}

// ===============
// Workspaces
// ===============

header.workspace {
	.top {
		@include flexCenter();
		justify-content: space-between;
		margin-bottom: 0.5rem;
	}

	span {
		@include flexCenter();
		justify-content: flex-start;
		gap: 0.25rem;
	}
	h1 {
		font-weight: 500;
		font-size: 20px;
	}
	i {
		height: 1.5rem;
		width: 1.5rem;
		border-radius: 5px;
		@include flexCenter();
		cursor: pointer;
		font-size: 12px;
	}
	button {
		border: none;
		border-radius: 3px;
		cursor: pointer;
		background-color: $blue-light;
		@include flexCenter();
		color: #fff;
		padding: 0 0.75rem;
		height: 2rem;

		i {
			color: #fff;
		}

		&:hover {
			background-color: $blue-bolder-light;
		}
	}
	p {
		font-size: 14px;
	}
}

.header-line {
	height: 1.5px;
	width: 100%;
	background-color: $grey-bolder-dark;
	margin: 1.5rem 0;
}

// Add new
// ===============

.add-background {
	height: 100vh;
	width: 100vw;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #000;
	opacity: 0.8;
	z-index: 100;
	padding: 4rem;
}

.add-workspace {
	background-color: #fff;
	border-radius: 5px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	min-height: calc(100vh - 8rem);
	width: calc(100vw - 8rem);
	z-index: 200;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 3.5rem 7rem;
	background-image: url(../assets/wavy-background.svg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 55%;

	form {
		width: 350px;

		h1 {
			font-weight: 500;
			margin-bottom: 0.5rem;
		}
		h2 {
			font-weight: 400;
			font-size: 18px;
			margin-bottom: 1rem;
		}

		input[type="submit"] {
			width: 100%;
			height: 2.5rem;
			margin-top: 1rem;
			cursor: pointer;
			background-color: $blue-light;
			color: #fff;
			font-size: 14px;
			border-radius: 3px;

			&:hover {
				background-color: $blue-bolder-light;
			}
		}
	}

	ul {
		@include flexCenter();
		align-items: flex-start;
		flex-direction: column;
		gap: 0.5rem;

		li {
			@include flexCenter();
			gap: 0.2rem;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;

			label {
				font-size: 12px;
				font-weight: 500;
			}

			input,
			textarea {
				width: 100%;
				border: 2px solid $neutral-light;
				border-radius: 3px;
				height: 2.5rem;
				font-size: 14px;
				padding: 0 0.5rem;

				&:focus {
					border-color: $blue-light;
				}
			}

			textarea {
				padding: 0.5rem;
				height: auto;
			}
		}
	}

	.img-container {
		width: 400px;
	}

	.right {
		@include flexCenter();
	}

	.fa-xmark {
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
		font-size: 22px;
		cursor: pointer;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 5px;
		@include flexCenter();
	}
}

// Delete Workspace
// ===============

.delete-workspace {
	border: none;
	background-color: transparent;
	color: $red-light;
	font-size: 14px;
	cursor: pointer;

	&:hover {
		color: $red-bolder-light;
	}
}


// ===============
//
// ===============
