$text-light: #172b4d;
$text-disabled-light: #091e424f;
$lime-light: #4c6b1f;
$lime-bolder-light: #37471f;
$red-light: #ae2a19;
$red-bolder-light: #601e16;
$orange-light: #974f0c;
$orange-bolder-light: #5f3811;
$yellow-light: #7f5f01;
$yellow-bolder-light: #533f04;
$green-light: #216e4e;
$green-bolder-light: #164b35;
$teal-light: #206b74;
$teal-bolder-light: #1d474c;
$blue-light: #0055cc;
$blue-bolder-light: #09326c;
$purple-light: #5e4db2;
$purple-bolder-light: #352c63;
$magenta-light: #943d73;
$magenta-bolder-light: #50253f;
$grey-light: #44546f;
$grey-bolder-light: #091e42;
$surface-light: #fff;
$neutral-light: #091e420f;

$text-dark: #b6c2cf;
$text-disabled-dark: #bfdbf847;
$lime-dark: #b3df72;
$lime-bolder-dark: #d3f1a7;
$red-dark: #ff9c8f;
$red-bolder-dark: #ffd2cc;
$orange-dark: #fec57b;
$orange-bolder-dark: #ffe2bd;
$yellow-dark: #f5cd47;
$yellow-bolder-dark: #f8e6a0;
$green-dark: #7ee2b8;
$green-bolder-dark: #baf3db;
$teal-dark: #8bdbe5;
$teal-bolder-dark: #c1f0f5;
$blue-dark: #85b8ff;
$blue-bolder-dark: #cce0ff;
$purple-dark: #b8acf6;
$purple-bolder-dark: #dfd8fd;
$magenta-dark: #f797d2;
$magenta-bolder-dark: #fdd0ec;
$grey-dark: #9fadbc;
$grey-bolder-dark: #dee4ea;
$surface-dark: #1d2125;
$neutral-dark: #a1bdd914;

@mixin flexCenter() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin absoluteCenter() {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $text-light;
	font-family: "Roboto", sans-serif;
}

body {
	overflow-x: hidden;
	background-color: $surface-light;

	&.dark {
		background-color: $surface-dark;
		* {
			color: $text-dark;
		}
	}
}

// ===============
// Re-used
// ===============

.grey-hover:hover {
	background-color: $neutral-light;
}

// ===============
// Header
// ===============

header {
	@include flexCenter();
	justify-content: space-between;
	height: 3rem;
	width: 100%;
	padding: 0 1rem;
	border-bottom: 0.25px solid $text-light;
	font-size: 14px;

	nav {
		@include flexCenter();

		&.left {
			gap: 0.5rem;

			.nav-item {
				height: 2rem;
				@include flexCenter();
				padding: 0 0.5rem;
				cursor: pointer;
				border-radius: 5px;
			}

			div.nav-item {
				padding: 0 0.75rem;
				position: relative;
				i {
					margin-left: 0.5rem;
				}
			}

			.logo {
				height: 1rem;
				width: 4rem;
				background-repeat: no-repeat;
				background-size: contain;
				background-image: url(../assets/logo-light.png);
			}
		}

		&.right {
			gap: 1rem;
		}
	}
}

// ===============
//
// ===============
