$text-light: #172B4D;
$text-disabled-light: #091E424F;
$lime-light: #4C6B1F;
$lime-bolder-light: #37471F;
$red-light: #AE2A19;
$red-bolder-light: #601E16;
$orange-light: #974F0C;
$orange-bolder-light: #5F3811;
$yellow-light: #7F5F01;
$yellow-bolder-light: #533F04;
$green-light: #216E4E;
$green-bolder-light: #164B35;
$teal-light: #206B74;
$teal-bolder-light: #1D474C;
$blue-light: #0055CC;
$blue-bolder-light: #09326C;
$purple-light: #5E4DB2;
$purple-bolder-light: #352C63;
$magenta-light: #943D73;
$magenta-bolder-light: #50253F;
$grey-light: #44546F;
$grey-bolder-light: #091E42;

$text-dark: #B6C2CF;
$text-disabled-dark: #BFDBF847;
$lime-dark: #B3DF72;
$lime-bolder-dark: #D3F1A7;
$red-dark: #FF9C8F;
$red-bolder-dark: #FFD2CC;
$orange-dark: #FEC57B;
$orange-bolder-dark: #FFE2BD;
$yellow-dark: #F5CD47;
$yellow-bolder-dark: #F8E6A0;
$green-dark: #7ee2b8;
$green-bolder-dark: #BAF3DB;
$teal-dark: #8BDBE5;
$teal-bolder-dark: #C1F0F5;
$blue-dark: #85B8FF;
$blue-bolder-dark: #CCE0FF;
$purple-dark: #B8ACF6;
$purple-bolder-dark: #DFD8FD;
$magenta-dark: #F797D2;
$magenta-bolder-dark: #FDD0EC;
$grey-dark: #9FADBC;
$grey-bolder-dark: #DEE4EA;

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin absoluteCenter() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

