* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #44546f;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

body {
  overflow-x: hidden;
  background-color: #fff;
}
body.dark {
  background-color: #1d2125;
}
body.dark * {
  color: #b6c2cf;
}

.grey-hover:hover {
  background-color: rgba(9, 30, 66, 0.0588235294);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  padding: 0 1rem;
  border-bottom: 1px solid #dee4ea;
  font-size: 14px;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav.left {
  gap: 0.5rem;
}
header nav.left .nav-item {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}
header nav.left div.nav-item {
  padding: 0 0.75rem;
  position: relative;
}
header nav.left div.nav-item i {
  margin-left: 0.5rem;
  color: #172b4d;
}
header nav.left .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../assets/logo-png.png);
  filter: brightness(0) saturate(100%) invert(30%) sepia(53%) saturate(323%) hue-rotate(179deg) brightness(91%) contrast(88%);
}
header nav.left .logo:hover {
  background-image: url(../assets/logo-gif.gif);
}
header nav.right {
  gap: 0.5rem;
}
header nav.right i {
  cursor: pointer;
  border-radius: 50%;
}
header nav.right .search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  padding: 0 0.6rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #dee4ea;
}
header nav.right .search i {
  font-size: 12.5px;
  cursor: default;
}
header nav.right .search input {
  font-size: 14px;
  width: 100%;
}
header nav.right .search input:focus {
  width: 600px;
}
header nav.right .fa-bell {
  background-color: #0055cc;
  height: 2rem;
  width: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  font-size: 16px;
}
header nav.right .fa-bell:hover {
  background-color: #09326c;
}
header nav.right .fa-bell .nav-info {
  transform: rotate(-45deg);
  bottom: -1rem;
  left: 0rem;
}
header nav.right .end-icons {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
}
header nav.right .account {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav.right .account i {
  height: 1.5rem;
  width: 1.5rem;
  background: red;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
header nav.right .account .nav-info {
  bottom: -1.95rem;
}
header nav.right > * {
  position: relative;
}
header nav.right > *:hover .nav-info {
  display: block;
}
header nav.right > *:hover .nav-info.search-info {
  display: flex;
}
header nav.right .nav-info {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -1.75rem;
  color: #fff;
  background-color: #1d2125;
  opacity: 0.75;
  border-radius: 5px;
  padding: 0.25rem 0.45rem;
  font-size: 12.5px;
  display: none;
  font-weight: 400;
}
header nav.right .nav-info.search-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  display: none;
}
header nav.right .nav-info.search-info .square {
  border-radius: 2px;
  border: 1px solid #fff;
  padding: 0.1rem 0.5rem;
  color: #fff;
}/*# sourceMappingURL=styles.css.map */