{% extends "layout.html" %} 

{% load socialaccount %}

{% block title %}Sign Up{% endblock %} 

{% block form %}

<form
	action="{% url 'signup' %}"
	method="post"
	class="p-16 pt-12 flex flex-col justify-center content-center gap-3 text-center bg-white shadow-md"
>
	{% csrf_token %}

	<h2 class="text-2xl font-bold">Sign Up</h2>

	{% if message %}
	<p class="text-red-500">{{ message }}</p>
	{% endif %}
	
	<div class="flex justify-center-items-center gap-2 w-72">
		<input
			autofocus
			type="text"
			name="firstname"
			placeholder="First Name"
			class="border border-stone-300 border-solid px-4 py-2 outline-0 w-1/2"
		/>
		<input
			autofocus
			type="text"
			name="lastname"
			placeholder="Last Name"
			class="border border-stone-300 border-solid px-4 py-2 outline-0 w-1/2"
		/>
	</div>
	<input
		autofocus
		type="text"
		name="username"
		placeholder="Username"
		class="border border-stone-300 border-solid px-4 py-2 outline-0 w-72"
	/>
	<input
		type="email"
		name="email"
		placeholder="Email"
		class="border border-stone-300 border-solid px-4 py-2 outline-0 w-72"
	/>
	<input
		type="password"
		name="password"
		placeholder="Password"
		class="border border-stone-300 border-solid px-4 py-2 outline-0 w-72"
	/>
	<input
		type="password"
		name="confirmation"
		placeholder="Confirm Password"
		class="border border-stone-300 border-solid px-4 py-2 outline-0 w-72"
	/>
	<input
		class="bg-blue-500 text-white h-10 font-medium cursor-pointer hover:bg-blue-700 flex items-center justify-center"
		type="submit"
		value="Sign Up"
	/>

	<p class="text-center text-sm font-bold">OR</p>

	<a class="shadow-[0px_0px_5px_0px_rgba(195,195,195,1)] h-10 font-bold text-gray-600 text-sm hover:bg-gray-50 flex items-center justify-center" href="{% provider_login_url 'google' %}">
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/706px-Google_%22G%22_Logo.svg.png" alt="" class="w-auto h-4 pr-2">
		Continue with Google
	</a>

	<p class="mt-2">
		Already have an account?
		<a class="text-blue-500 font-medium" href="{% url 'login' %}">Log in here.</a>
	</p>
</form>

{% endblock %}
